main{
    background-color: #000000;
    text-align: center;
    padding: 50px;
}
h1{
    color: white;
}
section ul{
    display: flex;
    max-width: 1280px;
    max-height: 720px;
    justify-content: space-between;
    margin: 0 auto;
}
ul{
    width: 700px;
}
section ul li img{
    border-radius: 8px;
}
li{
    width: 160px;
    text-align: center;
    margin: 0 auto;
}
ul li img{
    list-style: none; 
}
p{
    color: #9C9C9C;
}
button{
    background-color: #000000;
    color: white;
    padding: 10px;
    width: 13%;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 50px;
}
button:hover{
    background-color: white;
    color: black; 
    transition: 0.5s;  
}
ul img:hover{
    border: 2px solid white;
}
.borda{
    height: 160px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;
}
ul li .zoom:hover{
    transform: scale(1.3);
    transition: 1.5s;
}
.addperfil:hover{
    filter: brightness(2);
}